


.user_input_pdf_content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom right, #ffffff, #9a9a9a);
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  z-index: 999;
  width: 35%;
  max-width: 60em;
  max-height: 90vh; /* Evita que se desborde verticalmente */
  overflow-y: auto; /* Agrega scroll si es necesario */
  text-align: center;
  font-size: 1.1em;
  color: #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.close_btn_input_pdf {
  position: absolute;
  top: 0.4em;
  right: 0.4em;
  border: none;
  background: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #f44336;
  transition: transform 0.2s;
}

.close_btn_input_pdf:hover {
  transform: scale(1.2);
}

.user_input_pdf_content:hover {
  transform: translate(-50%, -50%) scale(1.01);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.form_input_pdf_content {
  width: 100%;
}

.user_input_pdf_content h3 {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-size: 1.3em;
  text-align: center;
  color: #37474f;
  width: 90%;
}

.form_input_content {
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
  }

.label_input_pdf_user {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0em;
}

.span_input_pdf_user {
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
  color: #263238;

}

.input_input_pdf_user {
  padding: 0.7em;
  border-radius: 0.5em;
  border: 1px solid #90a4ae;
  font-size: 0.8em;
  background-color: #ffffff;
  color: #263238;
}

.input_input_pdf_user:focus {
  border-color: #26c6da;
  outline: none;
}

.user_input_pdf_content button[type="submit"],
.user_input_pdf_content form button {
  background-color: #052a9abf;
  border: none;
  padding: 0.8em 1.5em;
  border-radius: 1em;
  color: white;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5em;
}

.user_input_pdf_content button[type="submit"]:hover,
.user_input_pdf_content form button:hover {
  background-color: #081588b9;
}
