/* Título de la tabla */
.title_table_reporte {
  color: rgb(58, 52, 16);
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 4px 4px 4px rgba(100, 101, 102, 0.3);
}

/* Contenedor general de la tabla */
.table_section_reporte_general {
  width: 90%;
  max-height: 75vh;
  overflow: auto;
  margin: 1em auto;
  border-radius: 1em;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  background-color: #ffffff75;
  position: relative;
}

/* Tabla principal */
.servidores_table_reporte {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95em;
}

/* Encabezado de la tabla */
.servidores_table_reporte thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background: linear-gradient(to right, #189de0e2, #555662);
  color: #fff;
}

.servidores_table_reporte th {
  padding: 1em;
  font-weight: 600;
  white-space: nowrap;
  font-size: 0.6em;
  background: inherit;
}

/* Celdas del cuerpo de la tabla */
.servidores_table_reporte td {
  padding: 0.8em 1em;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
  font-size: 0.7em;
  vertical-align: top;
  text-align: center;
}

.servidores_table_reporte tbody li {
  font-size: 0.9em;
  text-align: left;
}

.servidores_table_reporte tbody tr:last-child td {
  border-bottom: none;
}

/* Filas de las listas */
.novedades_list {
  background-color: #adadab7d;
}

.seccion_list {
  background-color: #c4c9ed;
}

/* Hover en filas */
.servidores_table_reporte tbody tr:hover {
  background-color: #fdfd40bd !important;
  transition: background-color 0.2s ease-in-out;
}

/* Botón Generar PDF */
.btn_generar_pdf {
  display: block;
  margin: 1rem auto; /* Centra el botón horizontalmente */
  padding: 0.5rem 1rem;
  background-color: #1e3a8a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 1rem; /* Ajusta el tamaño de la fuente */
  transition: background-color 0.3s ease; /* Transición suave para hover */
}

.btn_generar_pdf:hover {
  background-color: #374cce; /* Color más claro al hacer hover */
}

/* Media Queries para Responsivo */

/* Pantallas medianas (hasta 1024px) */
@media (max-width: 768px) {
  .title_table_reporte {
    font-size: 0.9em;
    letter-spacing: 0.8px;
  }

  .table_section_reporte_general {
    width: 100%;
    max-height: 60vh;
    margin: 0.5em auto;
  }

  .servidores_table_reporte th,
  .servidores_table_reporte td {
    font-size: 0.55em;
    padding: 0.5em;
  }

  .btn_generar_pdf {
    font-size: 0.8rem;
    padding: 0.3rem 0.7rem;
  }
}
