/* ---------------------- FOOTER ---------------------- */
.ul_footer {
  background-color: var(--plomo-color);
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
  width: 100%;
  height: 2em;
  position: fixed;
  bottom: 0;
  padding: 0 1em;
  z-index: 10;
}

/* Elementos de texto del footer */
.li_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  list-style: none;
  margin-right: 2em;
}

.span_footer {
  font-size: 0.7em;
  margin-top: 0.7em;
}

/* Íconos del footer */
.li_footer_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  list-style: none;
}

/* Estilos para íconos interactivos */
.li_footer_icon a img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.li_footer_icon a img:hover {
  transform: scale(1.25);
}

/* Enlace general */
.link_footer {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

/* Logos e imágenes */
.img_footer {
  height: 3vh;
  filter: invert(1);
}

.img_footer_c {
  height: 2vh;
  filter: invert(1);
}

/* ---------------------- RESPONSIVE ---------------------- */
@media (max-width: 768px) {
  .ul_footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0.5em 1em;
    gap: 0.3em;
  }

  .li_footer,
  .li_footer_icon {
    margin: 0;
    flex-direction: column;
    gap: 0.5em;
  }

  .link_footer {
    flex-direction: row;
    justify-content: center;
  }

  .span_footer {
    font-size: 0.6em;
    margin-top: 0.2em;
    text-align: center;
  }

  .img_footer {
    height: 2vh;
  }


}
