/* Estilos para escritorio */
.header_nav {
  top: 0;
  width: 100%;
  height: 5em; /* Altura fija para escritorio */
  background: linear-gradient(180deg, #011b5ecc, #016da3cc);
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 10;
  backdrop-filter: blur(5px);
  position: relative; /* Asegura que el header tenga prioridad */
}

.principal__header__section {
  display: flex;
  align-items: center;
  gap: 1.5em;
  width: 100%;
  justify-content: space-between;
}

.logo_home {
  width: 10%;
}

.logo_navbar {
  height: 4.5rem;
  margin: 0;
}

.link_content {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 80%;
}

.link_content a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 8px 12px;
  position: relative;
  transition: color 0.3s ease;
}

.link_content a:hover {
  color: #00a8ff;
  font-weight: bold;
}

.user__icon {
  width: 2.5rem; /* Ajuste del tamaño */
  height: 2.5rem; /* Ajuste del tamaño */
  border-radius: 50%;
  border: 0.125rem solid #c3e6cb;
  transition: transform 0.3s ease;
}

.user__icon:hover {
  transform: scale(1.1);
}

.logout__button {
  height: 2.5rem;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout__button:hover {
  background-color: #c82333;
}

/* Estilos para dispositivos móviles */
.hamburger {
  display: none; /* Oculto en escritorio */
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.hamburger span {
  width: 35px;
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(13px, 13px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu_open {
  display: flex !important;
  flex-direction: column;
  gap: 1rem;
  z-index: 1100; /* Asegura que el menú esté delante de otros componentes */
  position: fixed; /* Mantiene el menú visible al desplazarse */
  background: rgba(0, 0, 0, 0.9); /* Fondo más oscuro para destacar el menú */
  width: 100%; /* Ocupa todo el ancho */
  top: 5em; /* Debajo del header */
  left: 0;
  padding: 1rem;
}

.login_content {
  left: 0;
  display: flex;
  width: 10%;
}
.logout__button {
  height: 2rem;
  margin-left: 1em;
}
@media (max-width: 768px) {
  .logo_home {
    width: 20%;
  }
  .link_content {
    display: none;
  }

  .hamburger {
    display: flex;
    width: 10%;
  }

  .login_content {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .logout__button {
    height: 2rem;
    margin: 0 0.5em ;
    font-size: 0.8em;
  }
}
