.parte_diario_title {
  color: #0056b3;
  text-align: center;
  margin: 0.5em auto 0.5em auto;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 4px 4px 4px rgba(100, 101, 102, 0.3);
}

.partediario_seccion_content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/* Tabla Parte Diario --------------------------------------------------------------------------------------- */

.title_table_parte {
  color: rgb(58, 52, 16);
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 4px 4px 4px rgba(100, 101, 102, 0.3);
}

/* Contenedor de tabla con scroll */
.table_section_parte {
  width: 35%;
  max-height: 65vh;
  overflow: auto;
  margin: 1em 0.5em 0 0.5em;
  border-radius: 1em;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  background-color: #ffffff75;
  position: relative;
}

/* Tabla */
.servidores_table_parte {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95em;
}

/* Encabezado */
.servidores_table_parte thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background: linear-gradient(to right, #189de0e2, #555662);
  color: #fff;
}

/* Celdas encabezado */
.servidores_table_parte th {
  text-align: left;
  padding: 1em;
  font-weight: 600;
  white-space: nowrap;
  font-size: 0.6em;
  background: inherit;
}

/* Celdas cuerpo */
.servidores_table_parte td {
  padding: 0.8em 1em;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
  font-size: 0.55em;
  vertical-align: top;
}

/* Última fila sin borde */
.servidores_table_parte tbody tr:last-child td {
  border-bottom: none;
}

/* Hover */
.servidores_table_parte tbody tr:hover {
  background-color: #caec09bd;
  transition: background-color 0.2s ease-in-out;
}

.servidores_table_parte input {
  width: 100%;
  padding: 0.4em;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.servidores_table_parte button {
  padding: 0.5em 1em;
  font-size: 0.75em;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.guardar_btn {
  background-color: rgb(242, 5, 5)
}

.editar_btn {
  background-color: rgb(3, 4, 104)
}

.btn_blank{
  background-color: rgba(255, 255, 255, 0);
}


.servidores_table_parte select {
  width: 100%;
  padding: 0.4em;
  font-size: 0.9em;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Reporte Parte Diario --------------------------------------------------------------------------------------- */

.reporte_content {
  width: 35%;
}

/* Registros Parte Diario --------------------------------------------------------------------------------------- */

.registros_content {
  width: 15%;
  color: #333;
  /* background-color: #90b8ec; */
}

/* Formación Parte Diario --------------------------------------------------------------------------------------- */

.formacion_content {
  width: 15%;
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.formacion_content button {
  width: 70%;
  padding: 0.5em 1em;
  font-size: 0.8em;
  border: none;
  border-radius: 1em;
  background-color: #189de0;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  margin: 0 auto;
}

.formacion_content button:hover {
  background-color: #127bb5;
}

.formacion_container {
  margin-top: 0.5em;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(4px);
  color: #333;
  font-size: 0.9em;
  max-height: 65vh;
  overflow-y: auto;
}

.formacion_activa_container {
  position: fixed;
  z-index: 99999;
  right: 1em;
  top: 3em;
  width: 20em;
  margin-top: 0.5em;
  padding: 1em;
  background-color: rgba(247, 16, 16, 0.591);
  border-radius: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(4px);
  color: #333;
  font-size: 0.9em;
  max-height: 65vh;
  overflow-y: auto;
}

.formacion_item {
  display: flex;
  padding: 0.7em 1em;
  margin-bottom: 0.5em;
  border-left: 4px solid #189de0;
  background-color: #ffffffd2;
  border-radius: 0.5em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s ease-in-out;
}

.formacion_inactiva {
  background-color: #bad8f6d2;
}

.formacion_item div,
strong {
  font-size: 0.9em;
}

.formacion_item:hover {
  background-color: #ebef08bd;
  cursor: pointer;
}
