.partediario_content {
  position: relative;
}

.parte_diario_title {
  color: #03376e;
  text-align: center;
  width: 90%;
  margin: 0.5em auto 0.5em auto;
  font-size: 1.25em;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 4px 4px 4px rgba(100, 101, 102, 0.3);
}


.formacion_activa_container {
  position: fixed;
  font-size: 0.75em !important;
  right: 1em;
  top: 3.3em;
  width: 20em;
  margin-top: 0.5em;
  padding: 1em;
  background-color: rgba(247, 16, 16, 0.591);
  border-radius: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(4px);
  color: #333;
  font-size: 0.9em;
  max-height: 65vh;
  overflow-y: auto;
}

.partediario_seccion_content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.encargado {
  top: 0em;
}

.turno {
  top: 3.2em;
}

.btn_show {
  width: 14em;
  position: absolute;
  background-color: #de9415; 
  color: #000000; 
  border: solid 0.2em black;
  padding: 0.6em 1.2em;
  border-radius: 0.5em;
  font-size: 0.5rem;
  font-weight: 600;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 10px 14px 12px rgba(8, 13, 28, 0.2);
  transition: all 0.3s ease;
  z-index: 10;
}

.btn_show:hover {
  background-color: #012b6e; /* azul más claro */
  color: #ffffff;
  box-shadow: 0 6px 18px rgba(59, 130, 246, 0.4);
  transform: translateY(-2px);
  cursor: pointer;
}

.btn_show:active {
  transform: translateY(0);
  box-shadow: 0 3px 8px rgba(30, 58, 138, 0.3);
}

/* Tabla Parte Diario --------------------------------------------------------------------------------------- */

.title_table_parte {
  color: rgb(58, 52, 16);
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 4px 4px 4px rgba(100, 101, 102, 0.3);
}

/* Contenedor de tabla con scroll */
.table_section_parte {
  width: 45%;
  max-height: 65vh;
  overflow: auto;
  margin: 1em 0.5em 0 0.5em;
  border-radius: 1em;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  background-color: #ffffff75;
  position: relative;
}

/* Tabla */
.servidores_table_parte {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95em;
}

/* Encabezado */
.servidores_table_parte thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background: linear-gradient(to right, #189de0e2, #555662);
  color: #fff;
}

/* Celdas encabezado */
.servidores_table_parte th {
  text-align: left;
  padding: 1em;
  font-weight: 600;
  white-space: nowrap;
  font-size: 0.7em;
  background: inherit;
}

/* Celdas cuerpo */
.servidores_table_parte td {
  padding: 0.8em 1em;
  border-bottom: 1px solid #e0e0e0;
  color: #050505;
  font-size: 0.7em;
  vertical-align: top;
  font-weight: 300;
}

/* Última fila sin borde */
.servidores_table_parte tbody tr:last-child td {
  border-bottom: none;
}

/* Hover */
.servidores_table_parte tbody tr:hover {
  background-color: #caec09bd;
  transition: background-color 0.2s ease-in-out;
}

.servidores_table_parte input {
  width: 100%;
  padding: 0.4em;
  font-size: 1.3em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.servidores_table_parte button {
  padding: 0.5em 1em;
  font-size: 0.8em;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.guardar_btn {
  background-color: rgb(242, 5, 5);
}

.editar_btn {
  background-color: rgb(3, 4, 104);
}

.btn_blank {
  background-color: rgba(255, 255, 255, 0);
}

.servidores_table_parte select {
  width: 100%;
  padding: 0.4em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Reporte Parte Diario --------------------------------------------------------------------------------------- */

.reporte_content {
  width: 40%;
}

/* Registros Parte Diario --------------------------------------------------------------------------------------- */

.registros_content {
  width: 12%; /* Restringe el ancho al 10% */
  padding: 0.5rem;
  background-color: #f9f9f94c;
  border-radius: 8px;
  display: flex;
  flex-direction: column; /* Asegura que los elementos internos se alineen en columna */
  gap: 0.5rem; /* Espaciado entre elementos internos */
  align-items: center; /* Centra las tarjetas dentro del contenedor */
  overflow-y: auto; /* Habilita desplazamiento si el contenido excede la altura */
}

.registros_title {
  font-size: 1rem;
  color: #1e3a8a;
  text-align: center;
  margin-bottom: 0.5rem;
}

.registros_list {
  width: 100%; /* Las tarjetas ocupan el ancho total del contenedor */
  display: flex;
  flex-direction: column; /* Las tarjetas se apilan verticalmente */
  gap: 0.5rem; /* Espaciado entre tarjetas */
}

.registros_card {
  background-color: #97dc6f91;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.7rem; /* Reduce el tamaño de texto para compactar */
}

.registros_card_body {
  margin-bottom: 0.3rem;
}

.registros_date,
.registros_time {
  color: #333333;
  white-space: nowrap; /* Evita cortes de texto */
}

.registros_card_actions {
  display: flex;
  gap: 0.2rem;
}

.registros_btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.2rem;
  transition: transform 0.2s ease-in-out;
}

.registros_btn:hover {
  transform: scale(1.1);
}

.registros_icon {
  width: 20px;
  height: 20px;
}
