.title__user__change__password {
  color: rgb(216, 203, 11);
}

.span__form__change__password {
  color: rgb(24, 0, 142);
  font-size: 1.4em;
  font-weight: 800;
  display: block;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8),
    /* Sombra clara para fondos oscuros */ -1px -1px 3px
      rgba(255, 255, 255, 0.8); /* Sombra en ambos lados */
}

.input__form__reset__password {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
  font-size: 1em;
  border: none;
  border-radius: 0.25em;
  background-color: #ffffff;
  color: #003366;
  margin-top: 0.3125em;
  width: 90%;
  outline: none; /* Elimina el contorno al enfocar */
  text-align: center;
}

.input__form__reset__password:focus {
  border: none;
  outline: none;
  box-shadow: none; /* Por si algún navegador aplica sombra */
}

