/* Contenedor principal del formulario */
.contenedor_register {
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  overflow: hidden;
  width: 100%;
}

/* Formulario */
.form__register {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  width: 100%;
  max-width: 70%;
  padding: 1em 2em;
  margin: 0 auto 2em auto;
  background-color: #ffffff7c;
  border: 0.1em solid #ccc;
  border-radius: 1em;
  box-shadow: 0 0.4em 0.6em rgba(0, 0, 0, 0.1);
}

/* Título del formulario */
.register__title {
  text-align: center;
  color: rgb(19, 3, 67);
  font-size: 2em;
  margin-bottom: 0.7em;
}

/* Contenedor de campos */
.form_content {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
}

/* Etiqueta de cada input */
.label__form__register {
  width: 48%;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  font-weight: 800;
  color: #000000;
}

/* Texto de la etiqueta */
.span__form__register {
  margin-bottom: 0.5em;
}

/* Estilo contenedor del input */
.input__form__register {
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  padding: 0.4em;
  font-size: 1em;
  text-align: center;
}

/* Estilo real del input */
.input__form__register input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1em;
}

/* Estilo para campos de contraseña */
.input__password {
  text-align: center;
  font-size: 1em;
}

/* Icono de mostrar/ocultar contraseña */
.input__form__register img,
.img__show {
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.5em;
}

/* Botón de envío */
.btn__form__register {
  background-color: var(--blue2-color);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.25em;
  padding: 0.8em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;
  margin: 1em auto 0 auto;
}

.btn__form__register:hover {
  background-color: var(--blue-color);
}

/* Responsive */
@media (max-width: 768px) {
  .contenedor_register {
    padding: 1em 0;
  }
  .form__register {
    gap: 0.5em;
    width: 100%;
    max-width: 85%;
    padding: 1em;
    margin-bottom: 3em;
  }

  .register__title {
    font-size: 1.5em;
  }

  .label__form__register {
    width: 100%;
  }

  .input__form__register {
    font-size: 1em;
    width: 100%;
  }

  .btn__form__register {
    width: 100%;
  }
}
